NodeRedFlowWML.json
[{"id":"c92846a7.f2c118","type":"ui_form","z":"8c1ab037.ca6a4","name":"","label":"","group":"36543545.0b78ba","order":1,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol ","value":"d","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles ","value":"g","type":"number","required":true,"rows":null},{"label":"BMI","value":"h","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"l","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"n","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"o","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"p","type":"number","required":true,"rows":null},{"label":"Schooling","value":"q","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":380,"wires":[["fbb28bdb.944668"]]},{"id":"fbb28bdb.944668","type":"function","z":"8c1ab037.ca6a4","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\n\n\nvar apikey= \"K8mOKDeMK8MxeeOLDyGGH97DxpudUTd_AGp60TZFLwwB\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":100,"y":220,"wires":[["1924ce58.630fe2"]]},{"id":"1924ce58.630fe2","type":"http request","z":"8c1ab037.ca6a4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":270,"y":100,"wires":[["4364fb44.a23a04"]]},{"id":"4364fb44.a23a04","type":"function","z":"8c1ab037.ca6a4","name":"","func":"var token=msg.payload.access_token;\nvar instance_id=\"d5cbda19-4748-4443-ae76-e89896be3af2\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer\" + token,\"ML-Instance-ID\":instance_id}\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\n\nmsg.payload={\"fields\":[\"Year\", \"Adult Mortality\",\n       \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\",\n       \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\",\n       \"Diphtheria \", \" HIV/AIDS\",\" thinness  1-19 years\", \" thinness 5-9 years\",\n       \"Income composition of resources\", \"Schooling\"],\n       \"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q]]}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["988d1b86.017a28"]]},{"id":"988d1b86.017a28","type":"http request","z":"8c1ab037.ca6a4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/d5cbda19-4748-4443-ae76-e89896be3af2/deployments/ab6e725a-10f7-44b4-b2db-81e602e534ce/online","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":440,"wires":[["d578315e.a11d8","6b7e6761.c45678"]]},{"id":"6b7e6761.c45678","type":"function","z":"8c1ab037.ca6a4","name":"","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":140,"wires":[["113d21c6.8b0c5e","18b7b9ba.ccdea6"]]},{"id":"113d21c6.8b0c5e","type":"debug","z":"8c1ab037.ca6a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":20,"wires":[]},{"id":"d578315e.a11d8","type":"debug","z":"8c1ab037.ca6a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":440,"wires":[]},{"id":"18b7b9ba.ccdea6","type":"ui_text","z":"8c1ab037.ca6a4","group":"36543545.0b78ba","order":2,"width":0,"height":0,"name":"","label":"Life-Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":260,"wires":[]},{"id":"36543545.0b78ba","type":"ui_group","z":"","name":"Inputs","tab":"c073fe91.3af66","order":1,"disp":true,"width":"6","collapse":false},{"id":"c073fe91.3af66","type":"ui_tab","z":"","name":"Life-Expectancy","icon":"dashboard","disabled":false,"hidden":false}]